.m-form{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 400px;
    margin-inline: auto;
    &__error{
        color: red;
    }
    &__input{
        height: 44px;
        resize: none;
        color: #8E9BA8;
        width: 90%;
        background-color: #F2F2F2;
        border: none;
        border-radius: 10px;
        margin: 10px;
        background-repeat: no-repeat;
        background-position: left;
        text-align: center;
        background-size: 30px;
        background-position-x: 16px;
        &--name{
            background-image: url("/static/images/name.svg");
        }
        &--email{
            background-image: url("/static/images/email.svg");
        }
        &--dob{
            background-image: url("/static/images/dob.svg");
        }
        &--designation{
            background-image: url("/static/images/designation.svg");
        }
        &--doctor{
            background-image: url("/static/images/doctor.svg");
        }
        &--doa{
            background-image: url("/static/images/doa.svg");
        }
        &--time{
            background-image: url("/static/images/clock.svg");
        }
        &--notes{
            background-image: url("/static/images/notes.svg");
            height: 70px;
        }
        &::placeholder 
        {
          text-align: left;
          position: relative;
          left: 60px; 
          
        }
    }
    &__submit{
        width: 90%;
    }
}
.errorlist{
    color: red;
    position: relative;
    bottom: 13rem;

}
label.error.fail-alert {
    color: red;
    }