.m-main{
    &__menuicon {
		float: right;
		margin: 26px;
		font-size: 30px;
		cursor: pointer;
	}
    	
	&__hero {
		text-align: center;
		padding: 13% 13% 0 13%;	}

    &__mainheading {
		color: #fff;
		font-weight: bold;
	}

    &__btns {
		display: flex;
		flex-flow: column;
		row-gap: 28px;
		align-items: center;
		margin-top: 4%;
	}

    &__overlay {
		position: fixed;
		height: 100%;
		width: 100%;
	}
}