.m-navlist{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 23px;
    color: #237d9e;
    padding: 15px;
    margin-left: 2%;

    &__item {
        & + & {
            margin-block-start: 20px;
        }
		display: flex;
		align-items: center;
        text-decoration: none !important;
		&::before {
			display: block;
			content: " ";
			width: 37px;
			height: 38px;
			margin-right: 10px;
        }
            &--how::before {
                background: url("/static/images/nav-icons.svg") 0 0;
            }
            &--book::before {
                background: url("/static/images/nav-icons.svg") 0 76px;
            }
            &--contact::before {
                background: url("/static/images/nav-icons.svg") 0 114px;
            }
            &--login::before {
                background: url("/static/images/nav-icons.svg") 0 38px;
            }
    }
}