{% extends 'master.html' %}

{% load static %}

{% block addl_stylesheets %}
<link rel="stylesheet" href="{% static 'css/dist/p-doctor.css' %}">
{% endblock addl_stylesheets %}

{% block view_content %}
<main class="p-doctor">
    <nav class="p-doctor__nav m-header">
        <a href="/core" class="m-header__img">
            <img src="{% static 'images/home.svg' %}" alt="go-to-home">
        </a>
    
        <h4 class="m-header__heading">DOCTORS INFORMATION</h4>
    </nav>

    <h4 class="p-doctor__subheading">Select Category</h4>

    <div class="p-doctor__category m-category">
        <a href="" class="m-category__item m-category-inner">
            <img src="{% static 'images/cardio.svg' %}" alt="cardio" class="m-category-inner__img">

            <p class="m-category-inner__name">Cardio</p>
        </a>  
        <a href="" class="m-category__item">
            <img src="{% static 'images/neuro.svg' %}" alt="neuro" class="m-category-inner__img">

            <p class="m-category-inner__name">Neuro</p>
        </a>
        <a href="" class="m-category__item">
            <img src="{% static 'images/endocrine.svg' %}" alt="endocrine" class="m-category-inner__img">

            <p class="m-category-inner__name">Endocrine</p>
        </a>
        <a href="" class="m-category__item">
            <img src="{% static 'images/gastro.svg' %}" alt="endocrine" class="m-category-inner__img">

            <p class="m-category-inner__name">Gastro</p>
        </a>
    </div>

    <div class="p-doctor__info m-doctor-card">
        <img src="{% static 'images/Dr.Smith.svg' %}" alt="" class="m-doctor-card__img">

        <div class="m-doctor-card__info m-doctor-card-side">
            <ul class="m-doctor-card-side__info-list">
                <li>Dr. Smith</li>
                <li>Cardiologist</li>
                <li>Male - 60yrs</li>
                <li>2010 - Present</li>
            </ul>
    
            <button class="m-btn m-btn--blue m-doctor-card-side__btn">BOOK AN APPOINTMENT</button>
        </div>
    </div>
</main>

{% endblock view_content %}

{% block addl_scripts %}
{% endblock addl_scripts %}