* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--body-font-family); }

h1, h2 {
  text-align: center; }

li {
  list-style: none; }

:root {
  --main-bg-color: #237D9E;
  --body-font-family: 'Work Sans', sans-serif;
  --btn-font-size:18px;
  --btn-font-weight:500;
  --body-max-height:667px
; }

.m-btns {
  width: 214px;
  height: 56px;
  border-radius: 16px;
  border: none;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight); }
  .m-btns--white {
    color: #237d9e;
    background-color: #fff; }
  .m-btns--blue {
    color: #fff;
    background-color: var(--main-bg-color);
    border: 0.5px solid #fff; }

.p-home-main {
  height: var(--body-max-height);
  background-color: var(--main-bg-color); }

.p-home-mainheading {
  color: #fff;
  font-weight: bold; }

.p-home-btns {
  margin-top: 5%;
  margin-left: 20%; }

.m-btns--blue {
  margin-top: 28px; }

.p-home-menuicon {
  float: right;
  margin: 26px;
  font-size: 30px;
  cursor: pointer; }

.p-home-hero {
  margin-left: 64px; }

.p-home-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 60px 0px 0px 60px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.p-home-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #237d9e;
  display: flex;
  font-weight: 400;
  padding: 15px;
  transition: 0.3s;
  line-height: 27px;
  margin-left: 2%; }

.p-home-sidenav a:hover {
  color: #f1f1f1; }

.p-home-nav-closebtn {
  right: 88%;
  top: 45vh;
  color: #fff !important;
  background: #237d9e;
  border-radius: 0 25% 25% 0;
  width: 13%;
  height: 54px;
  position: absolute; }

.p-home-nav-head {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-bottom: 10px; }

.p-home-nav-list span {
  margin: 3%; }

.p-home-nav-list {
  margin-left: 7%; }

.p-home-nav-heading {
  font-weight: bold;
  padding: 5%;
  color: #237d9e;
  transition: 0.3s;
  font-size: 23px; }

hr {
  width: 250px;
  background-color: #237d9e;
  margin-left: 40px;
  margin-bottom: 20px; }

.p-home-contact {
  background-color: #95C2D2;
  height: 667px;
  position: relative; }

.p-home-contact-bg {
  position: absolute;
  height: 590px;
  background-color: #fff;
  z-index: 1;
  width: 80%;
  top: 39px;
  left: 20%; }

.p-home-contact-main {
  position: absolute;
  background-color: #237d9e;
  height: 488px;
  width: 80%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.p-home-contact-list {
  position: absolute;
  z-index: 3;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 92px;
  color: #fff; }

.p-home-contact-list span {
  margin-left: 11px;
  font-size: 14px; }

.m-card {
  height: var(--body-max-height);
  background-color: #fff !important; }
  .m-card__head {
    padding: 37px;
    color: var(--main-bg-color);
    font-weight: bold; }
  .m-card__image {
    display: flex;
    justify-content: center;
    width: 100%; }
  .m-card__sub-heading {
    color: var(--main-bg-color);
    text-align: center;
    margin-top: 10px;
    font-weight: bold; }
  .m-card__desc {
    text-align: center;
    margin-top: 30px;
    font-size: 24px; }
  .m-card__slider {
    margin-top: 7%;
    text-align: center; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #95C2D2 !important;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.dot.active, .dot:hover {
  background-color: var(--main-bg-color) !important; }
