.p-home {
  --home-contact-content-zindex: 2;
  --home-contact-white-bg-zindex: 1; }
  .p-home__contact {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 45px;
    background-color: #95C2D2;
    min-height: 100vh; }
    .p-home__contact::before {
      position: absolute;
      z-index: var(--home-contact-white-bg-zindex);
      top: 36px;
      left: 87px;
      content: '';
      display: block;
      width: 100%;
      height: calc(100vh - 72px);
      background-color: white; }

.m-contact {
  padding: 20px 24px;
  background-color: #237D9E;
  color: white;
  width: 100%;
  z-index: var(--home-contact-content-zindex); }
  .m-contact__title {
    margin-block-start: 0;
    margin-block-end: 32px;
    text-align: center; }

.m-contact-item {
  display: block;
  /* todo: implement */ }
  .m-contact-item + .m-contact-item {
    margin-block-start: 66px; }
