<div class="m-pagination">
    <span class="m-page-controls">
        {% if 'category' in request.get_full_path %}
            {% if page_obj.has_previous %}
            <a href="{{ request.get_full_path }}&page=1">1</a>
            <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% endif %}

            <span class="m-page-controls__current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">&raquo;</a>
                <a href="{{ request.get_full_path }}&page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
            
        {% else %}
            {% if page_obj.has_previous %}
            <a href="?page=1"> 1</a>
            <a href="?page={{ page_obj.previous_page_number }}">prev</a>
            {% endif %}

            <span class="m-page-controls__current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        {% endif %}  
    </span>
</div>