.p-home {
	--home-contact-content-zindex: 2;
	--home-contact-white-bg-zindex: 1;

	&__contact {
		display: flex;
		position: relative;
		align-items: center;
		padding-inline: 45px;
		background-color: #95c2d2;
		min-height: 100vh;
		overflow: hidden;

		&::before {
			display: block;
			position: absolute;
			top: 36px;
			left: 87px;
			z-index: var(--home-contact-white-bg-zindex);
			content: "";
			width: 77%;
			height: calc(100vh - 72px);
			background-color: white;
		}
	}
	&__menuicon {
		float: right;
		margin: 26px;
		font-size: 30px;
		cursor: pointer;
	}
	&__hero {
		margin-left: 64px;
	}
	&__mainheading {
		color: #fff;
		font-weight: bold;
	}
	&__btns {
		margin-top: 5%;
		margin-left: 20%;
	}
	&__main {
		height: var(--body-max-height);
		background-color: var(--main-bg-color);
	}
	&__btn {
		& + & {
			margin-block-start: 28px;
		}
	}
}
@import "./p-home.d/m-sidenav";
@import "./p-home.d/m-contact";
@import "./p-home.d/m-contact-item";
