.m-doctor-card{
    background-color: #F2F2F2;
    height: 186px;
    margin: 0 28px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    align-items: center;
    column-gap: 5%;
    margin-bottom: 20px;
}